@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// CSS Reset
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: url(images/bg-top.svg) no-repeat top right, url(images/bg-bottom.svg) no-repeat bottom left;
	background-color: hsl(240, 78%, 98%);
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	font-size: 1.5rem;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

.white-txt {
	color: white;
}

.light-grey-txt {
	color: hsl(234, 14%, 74%);
}

.grey-txt {
	color: hsl(233, 13%, 49%);
}

.black-txt {
	color: hsl(232, 13%, 33%);
}

.pricing-component {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6rem 3.2rem 4rem 3.2rem;

	.toggle-wrapper {
		display: flex;
		align-items: center;
		gap: 2.5rem;
		margin: 4rem 0 10rem;

		h2 {
			font-size: 1.3rem;
		}

		input {
			position: absolute;
			left: -9999px;
		}

		.toggle-outer {
			width: 5.5rem;
			border-radius: 50vw;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 0.3rem;
			cursor: pointer;
			position: relative;
			background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
			transition: 200ms ease-in-out;

			.toggle-inner {
				width: 2.4rem;
				height: 2.4rem;
				border-radius: 50%;
				background-color: white;
			}
		}
		.toggle-outer:hover {
			background: linear-gradient(90deg, hsla(236, 72%, 79%, 0.6), hsla(237, 63%, 64%, 0.6));
		}
		.toggle-outer.active {
			justify-content: flex-start;
		}
	}

	.card-container {
		display: flex;
		justify-content: center;
		text-align: center;
		width: 100%;
		max-width: 100rem;

		.card {
			border-radius: 0.8rem;
			flex: 0 0 33%;

			.price {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				font-size: 6rem;
				padding: 2rem 0;
				border-bottom: 1px solid hsl(234, 14%, 74%);

				span {
					font-size: 3rem;
				}
			}

			h3 {
				font-size: 1.5rem;
			}

			.learn-more {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1.3rem 1rem;
				border-radius: 0.6rem;
				margin-top: 3.5rem;
				font-size: 1.2rem;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
			}

			ul {
				list-style: none;

				li {
					padding: 2rem 0;
					border-bottom: 1px solid hsl(234, 14%, 74%);
				}
			}
		}
		.card:nth-child(1),
		.card:nth-child(3) {
			background: white;
			padding: 3rem;
			margin-bottom: 6rem;
		}

		.card:nth-child(2) {
			background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
			transform: translateY(-2rem);
			padding: 5rem 3rem;
			margin-bottom: 2rem;
		}

		.card:nth-child(1) a,
		.card:nth-child(3) a {
			background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
			color: white;
		}
		.card:nth-child(1) a:hover,
		.card:nth-child(3) a:hover {
			background: transparent;
			color: hsl(237, 63%, 64%);
			outline: hsl(237, 63%, 64%) solid 1px;
		}

		.card:nth-child(2) a {
			background: white;
			color: hsl(237, 63%, 64%);
		}
		.card:nth-child(2) a:hover {
			background: transparent;
			color: white;
			outline: white solid 1px;
		}
	}
	.card .price.annually {
		display: none;
	}
	.show-annually .card .price.annually {
		display: flex;
	}
	.show-annually .card .price.monthly {
		display: none;
	}
}

@media (max-width: 52em) {
	.card-container {
		flex-direction: column;

		.card {
			flex: 0 0 100%;
		}
	}
}
