@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(images/bg-top.svg) no-repeat top right, url(images/bg-bottom.svg) no-repeat bottom left;
  background-color: #f6f6fe;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.white-txt {
  color: white;
}

.light-grey-txt {
  color: #b3b5c6;
}

.grey-txt {
  color: #6d708d;
}

.black-txt {
  color: #494c5f;
}

.pricing-component {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 3.2rem 4rem 3.2rem;
}

.pricing-component .toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  margin: 4rem 0 8rem;
}

.pricing-component .toggle-wrapper h5 {
  font-size: 1.3rem;
}

.pricing-component .toggle-wrapper input {
  position: absolute;
  left: -9999px;
}

.pricing-component .toggle-wrapper .toggle-outer {
  width: 5.5rem;
  border-radius: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  cursor: pointer;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(90deg, #a3a8f0, #696fdd);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.pricing-component .toggle-wrapper .toggle-outer .toggle-inner {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: white;
}

.pricing-component .toggle-wrapper .toggle-outer:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(163, 168, 240, 0.6)), to(rgba(105, 111, 221, 0.6)));
  background: linear-gradient(90deg, rgba(163, 168, 240, 0.6), rgba(105, 111, 221, 0.6));
}

.pricing-component .toggle-wrapper .toggle-outer.active {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pricing-component .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 100rem;
}

.pricing-component .card-container .card {
  border-radius: 0.8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.pricing-component .card-container .card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 6rem;
  padding: 2rem 0;
  border-bottom: 1px solid #b3b5c6;
}

.pricing-component .card-container .card .price span {
  font-size: 3rem;
}

.pricing-component .card-container .card .learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.3rem 1rem;
  border-radius: 0.6rem;
  margin-top: 3.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.pricing-component .card-container .card ul {
  list-style: none;
}

.pricing-component .card-container .card ul li {
  padding: 2rem 0;
  border-bottom: 1px solid #b3b5c6;
}

.pricing-component .card-container .card:nth-child(1),
.pricing-component .card-container .card:nth-child(3) {
  background: white;
  padding: 3rem;
  margin-bottom: 6rem;
}

.pricing-component .card-container .card:nth-child(2) {
  background: linear-gradient(135deg, #a3a8f0, #696fdd);
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  padding: 5rem 3rem;
  margin-bottom: 2rem;
}

.pricing-component .card-container .card:nth-child(1) a,
.pricing-component .card-container .card:nth-child(3) a {
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(90deg, #a3a8f0, #696fdd);
  color: white;
}

.pricing-component .card-container .card:nth-child(1) a:hover,
.pricing-component .card-container .card:nth-child(3) a:hover {
  background: transparent;
  color: #696fdd;
  outline: #696fdd solid 1px;
}

.pricing-component .card-container .card:nth-child(2) a {
  background: white;
  color: #696fdd;
}

.pricing-component .card-container .card:nth-child(2) a:hover {
  background: transparent;
  color: white;
  outline: white solid 1px;
}

.pricing-component .card .price.annually {
  display: none;
}

.pricing-component .show-annually .card .price.annually {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing-component .show-annually .card .price.monthly {
  display: none;
}

@media (max-width: 52em) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-container .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
/*# sourceMappingURL=main.css.map */